<button data-open-modal>
  <svg width="28" height="28" fill="none"><g clip-path="url(#a)"><path fill="red" fill-rule="evenodd" d="M6.1895 7.1522c4.2861-3.0782 10.423-2.8321 14.3917.5948 4.0084 3.4625 4.573 9.1169 1.2639 13.1825-3.2107 3.9446-9.0592 5.1527-13.803 2.9702l-5.0206 1.0815a.8393.8393 0 0 1-.8064-.2668.8643.8643 0 0 1-.1717-.8413l1.3374-4.0622c-2.5995-4.2796-1.396-9.6378 2.8087-12.6587Z" clip-rule="evenodd"/></g><g clip-path="url(#b)"><mask id="c" width="19" height="19" x="8.875" y="1.875" fill="#000" maskUnits="userSpaceOnUse"><path fill="#fff" d="M8.875 1.875h19v19h-19z"/><path fill-rule="evenodd" d="M25.5 2.875a.6206.6206 0 0 1 .216.0385.621.621 0 0 1 .218.1368.622.622 0 0 1 .191.4407.6192.6192 0 0 1-.0079.1093 13.9583 13.9583 0 0 1-8.375 10.9422 3.9585 3.9585 0 0 1-1.7096 3.9154 3.959 3.959 0 0 1-2.1992.6671H10.5a.625.625 0 0 1-.625-.625v-3.3333a3.959 3.959 0 0 1 2.4435-3.6571 3.958 3.958 0 0 1 2.1391-.2517 13.959 13.959 0 0 1 10.943-8.375.6206.6206 0 0 1 .0994-.0079Zm-9.8503 8.7747a12.7085 12.7085 0 0 1 1.3464-2.3682 6.8752 6.8752 0 0 1 2.7224 2.7225 12.7032 12.7032 0 0 1-2.3681 1.3464 3.9586 3.9586 0 0 0-1.7007-1.7007Zm.73 2.5943a2.7084 2.7084 0 0 0-1.6234-1.6236.623.623 0 0 1-.2158-.0681 2.7082 2.7082 0 0 0-3.4155 2.6144v2.7083h2.7083a2.7083 2.7083 0 0 0 2.6144-3.4156.632.632 0 0 1-.068-.2154Z" clip-rule="evenodd"/></mask><path fill="#fff" fill-rule="evenodd" d="M25.5 2.875a.6206.6206 0 0 1 .216.0385.621.621 0 0 1 .218.1368.622.622 0 0 1 .191.4407.6192.6192 0 0 1-.0079.1093 13.9583 13.9583 0 0 1-8.375 10.9422 3.9585 3.9585 0 0 1-1.7096 3.9154 3.959 3.959 0 0 1-2.1992.6671H10.5a.625.625 0 0 1-.625-.625v-3.3333a3.959 3.959 0 0 1 2.4435-3.6571 3.958 3.958 0 0 1 2.1391-.2517 13.959 13.959 0 0 1 10.943-8.375.6206.6206 0 0 1 .0994-.0079Zm-9.8503 8.7747a12.7085 12.7085 0 0 1 1.3464-2.3682 6.8752 6.8752 0 0 1 2.7224 2.7225 12.7032 12.7032 0 0 1-2.3681 1.3464 3.9586 3.9586 0 0 0-1.7007-1.7007Zm.73 2.5943a2.7084 2.7084 0 0 0-1.6234-1.6236.623.623 0 0 1-.2158-.0681 2.7082 2.7082 0 0 0-3.4155 2.6144v2.7083h2.7083a2.7083 2.7083 0 0 0 2.6144-3.4156.632.632 0 0 1-.068-.2154Z" clip-rule="evenodd"/><path fill="red" d="m25.716 2.9135-.3463.938.0017.0007.3446-.9387ZM25.5 2.875l-.0012 1h.0025l-.0013-1Zm.434.1753-.6949.719.001.001.6939-.72Zm.1582.2495-.9477.3193.0006.0018.9471-.321Zm.0328.1912-.9999.0133v.0025l.9999-.0158Zm-.0079.1093-.9871-.16-.0019.0117-.0016.0117.9906.1366Zm-2.9112 6.7917-.782-.6232.782.6232Zm-5.4638 4.1505-.3906-.9206-.7202.3057.1234.7726.9874-.1577Zm-.2517 2.139-.9239-.3827.9239.3827Zm-1.4579 1.7764.5555.8315-.5555-.8315Zm-5.4904-5.4904.8315.5556-.8315-.5556Zm1.7764-1.4579-.3826-.9238.3826.9238Zm2.1391-.2517-.1577.9875.7726.1234.3057-.7203-.9206-.3906Zm4.1505-5.4637-.6232-.7821.6232.782Zm6.7925-2.9113.1366.9906.011-.0015.0111-.0018-.1587-.9873Zm-8.4045 6.3986.4808-.8768-.7753-.4251-.5168.7174.8113.5845Zm-1.3464 2.3682-.9173-.3982-.3723.8576.8307.4291.4589-.8885Zm4.0688.3543.5846.8114.7174-.5169-.4251-.7753-.8769.4808Zm-2.3681 1.3464-.8885.4588.429.8308.8577-.3723-.3982-.9173Zm-.7181-.9827-.7071.7071.7071-.7071Zm-.8839.8839-.7071.7071.7071-.7071Zm.6313.9924.9922-.1244-.0139-.1111-.0382-.1052-.9401.3407Zm-1.6234-1.6236.3408-.9401-.1055-.0382-.1112-.0139-.1241.9922Zm-.1437-.0356-.3533.9355.3533-.9355Zm-.0721-.0325.4674-.884-.0986-.0522-.1077-.0291-.2611.9653Zm-.1788-.0419-.1951.9808.1951-.9808Zm-1.5648.1541-.3827-.9239.3827.9239ZM11.125 17.875h-1v1h1v-1Zm4.213-.4564-.5556-.8315.5556.8315Zm.9975-1.2155-.9239-.3827.9239.3827Zm.1541-1.5648.9808-.1951-.9808.1951Zm-.0419-.1789.9653-.2611-.0291-.1075-.052-.0985-.8842.4671Zm-.0324-.0719.9355-.3532-.9355.3532Zm9.647-12.4122a1.62 1.62 0 0 0-.5635-.1003l.0025 2a.3791.3791 0 0 1-.1316-.0234l.6926-1.8763Zm.5667.356a1.6222 1.6222 0 0 0-.5683-.3566l-.6893 1.8775a.3777.3777 0 0 1-.1323-.0829l1.3899-1.438Zm.4109.6492a1.622 1.622 0 0 0-.412-.6503l-1.3878 1.4402a.379.379 0 0 1-.0956-.1513l1.8954-.6386Zm.085.497a1.6217 1.6217 0 0 0-.0856-.4988l-1.8942.6422a.3812.3812 0 0 1-.02-.1166l1.9998-.0267Zm-.0207.2828a1.6183 1.6183 0 0 0 .0207-.2852l-1.9998.0317a.3798.3798 0 0 1 .0049-.0665l1.9742.32Zm-3.1162 7.2549a14.9583 14.9583 0 0 0 3.1197-7.2782l-1.9812-.2733a12.9592 12.9592 0 0 1-2.7026 6.3051l1.5641 1.2464Zm-5.8552 4.4478a14.9574 14.9574 0 0 0 5.8552-4.4478l-1.5641-1.2464a12.959 12.959 0 0 1-5.0724 3.8531l.7813 1.8411Zm.2814 1.6011a4.9568 4.9568 0 0 0 .3154-2.6793l-1.9749.3154a2.959 2.959 0 0 1-.1882 1.5986l1.8477.7653Zm-1.8262 2.2253a4.9579 4.9579 0 0 0 1.8262-2.2253l-1.8477-.7653a2.9581 2.9581 0 0 1-1.0896 1.3276l1.1111 1.663Zm-2.7547.8356a4.9585 4.9585 0 0 0 2.7547-.8356l-1.1111-1.663a2.9582 2.9582 0 0 1-1.6436.4986v2Zm-3.3333 0h3.3333v-2H10.5v2ZM8.875 18.5c0 .8975.7275 1.625 1.625 1.625v-2a.375.375 0 0 1 .375.375h-2Zm0-3.3333V18.5h2v-3.3333h-2Zm.8356-2.7547a4.9582 4.9582 0 0 0-.8356 2.7547h2c0-.5851.1735-1.1571.4986-1.6436l-1.663-1.1111Zm2.2253-1.8262a4.9583 4.9583 0 0 0-2.2253 1.8262l1.663 1.1111a2.9581 2.9581 0 0 1 1.3276-1.0896l-.7653-1.8477Zm2.6795-.3154a4.9574 4.9574 0 0 0-2.6795.3154l.7653 1.8477a2.9584 2.9584 0 0 1 1.5987-.1881l.3155-1.975Zm3.3695-5.2583a14.9586 14.9586 0 0 0-4.4478 5.8552l1.8411.7812a12.958 12.958 0 0 1 3.8531-5.0723l-1.2464-1.5641Zm7.2791-3.1199a14.9582 14.9582 0 0 0-7.2791 3.1199l1.2464 1.5641a12.9579 12.9579 0 0 1 6.3059-2.7027l-.2732-1.9813Zm.2373-.0172a1.6216 1.6216 0 0 0-.2594.0205l.3174 1.9747a.3789.3789 0 0 1-.0605.0048l.0025-2Zm-9.3165 6.822a13.7064 13.7064 0 0 0-1.4524 2.5545l1.8346.7964a11.7082 11.7082 0 0 1 1.2405-2.1818L16.1848 8.697Zm4.4106 2.8262a7.8752 7.8752 0 0 0-3.1185-3.1185l-.9616 1.7537a5.8754 5.8754 0 0 1 2.3264 2.3264l1.7537-.9616Zm-2.8468 2.7445a13.7103 13.7103 0 0 0 2.5545-1.4523l-1.1691-1.6227a11.7078 11.7078 0 0 1-2.1818 1.2404l.7964 1.8346Zm-1.8234-1.1929c.2168.2169.3974.4649.5367.7344l1.777-.9177a4.9572 4.9572 0 0 0-.8995-1.2309l-1.4142 1.4142Zm-.7344-.5366c.2696.1392.5176.3198.7344.5366l1.4142-1.4142a4.9588 4.9588 0 0 0-1.2308-.8994l-.9178 1.777Zm-.1495 1.4205c.1777.1777.3133.3916.3982.626l1.8803-.6814a3.7083 3.7083 0 0 0-.8643-1.3588l-1.4142 1.4142Zm-.6258-.3981c.2343.0849.4481.2204.6258.3981l1.4142-1.4142a3.7078 3.7078 0 0 0-1.3584-.8642l-.6816 1.8803Zm-.1562-.0403c.1218.046.2469.0767.3729.0924l.2482-1.9845a.3682.3682 0 0 1 .0854.0211l-.7065 1.871Zm-.1862-.084a1.618 1.618 0 0 0 .1862.084l.7065-1.871a.3425.3425 0 0 1 .0421.019l-.9348 1.768Zm.0935.0549a1.649 1.649 0 0 1 .1128.0264l.5222-1.9306a3.6707 3.6707 0 0 0-.2448-.0574l-.3902 1.9616Zm-.987.0972a1.7075 1.7075 0 0 1 .987-.0972l.3902-1.9616a3.708 3.708 0 0 0-2.1426.211l.7654 1.8478Zm-.7667.6292a1.7077 1.7077 0 0 1 .7667-.6292l-.7654-1.8478a3.7082 3.7082 0 0 0-1.6642 1.3658l1.6629 1.1112Zm-.2879.9491c0-.3379.1002-.6682.2879-.9491L10.75 13.1064a3.7084 3.7084 0 0 0-.625 2.0603h2Zm0 2.7083v-2.7083h-2v2.7083h2Zm1.7083-1H11.125v2h2.7083v-2Zm.9491-.2879a1.7083 1.7083 0 0 1-.9491.2879v2a3.7084 3.7084 0 0 0 2.0603-.625l-1.1112-1.6629Zm.6292-.7667a1.7077 1.7077 0 0 1-.6292.7667l1.1112 1.6629a3.7082 3.7082 0 0 0 1.3658-1.6642l-1.8478-.7654Zm.0972-.987c.066.3314.0321.6749-.0972.987l1.8478.7654a3.708 3.708 0 0 0 .211-2.1426l-1.9616.3902Zm-.0264-.1129c.0101.0373.0189.0749.0264.1129l1.9616-.3902a3.7368 3.7368 0 0 0-.0574-.2449l-1.9306.5222Zm-.0026.0203c.0242.064.0521.126.0837.1857l1.7684-.9342a.356.356 0 0 1 .0189.042l-1.871.7065Zm-.0924-.3724c.0158.1257.0464.2507.0924.3724l1.871-.7065a.3724.3724 0 0 1 .0211.0853l-1.9845.2488Z" mask="url(#c)"/></g><defs><clipPath id="a"><path fill="#fff" d="M2 2h24v24H2z"/></clipPath><clipPath id="b"><path fill="#fff" d="M8 1h20v20H8z"/></clipPath></defs></svg>
</button>

<dialog data-modal>
  <h2>Oba</h2>
  <button date-close-modal>Close</button>
</dialog>

<footer>

  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Inspiratie</h4>
        <ul>
          <li><a href="#">nieuws</a></li>
          <li><a href="#">nieuwsbrief</a></li>
          <li><a href="#">leestips & blogs</a></li>
          <li><a href="#">instagram</a></li>
          <li><a href="#">twitter</a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">linkedin</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Service</h4>
        <ul>
          <li><a href="#">veelgestelde vragen</a></li>
          <li><a href="vestigingen">vestigingen</a></li>
          <li><a href="#">lidmaatschappen</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">in english</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Over ons</h4>
        <ul>
          <li><a href="#">vacatures</a></li>
          <li><a href="#">nieuwsbrief</a></li>
          <li><a href="#">voor de pers</a></li>
          <li><a href="#">partners</a></li>
          <li><a href="#">fondsenwerving</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4> Volg ons op</h4>
        <div class="social-link">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
          </a>

          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 
                1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"/>
            </svg>
          </a>
          
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="3" y="5" width="18" height="14" rx="4" />
              <path d="M10 9l5 3l-5 3z" />
            </svg>
          </a>

          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="4" y="4" width="16" height="16" rx="4" />
              <circle cx="12" cy="12" r="3" />
              <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>  
</footer>
</body>
</html>
