<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openbare Bibliotheek Amsterdam</title>
    <link rel="stylesheet" href="./style/main.css" />
    <link rel="stylesheet" href="./style/draw.css" />
    <link rel="stylesheet" href="./style/chatArt.css" />
    <link rel="stylesheet" href="./style/loading.css" />
    <link rel="stylesheet" href="./style/blank-initial-state.css" />
    <link rel="icon" type="image/png" href="https://www.oba.nl/etc.clientlibs/settings/wcm/designs/website/styles/oba/clientlibs/resources/favicon.ico">
    <script src="/scripts/script.js" type="text/javascript" defer></script> 
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/scripts/draw.js" type="text/javascript" defer></script>
  </head>
  <body>